* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f5f5;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 500px;
  padding: 50px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.subtitulo {
  margin-top:30px;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #b81b14;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #8b1817;
  color: #ffffff;
}
.mensaje{
  margin-top: 20px;
  text-align: center;
}